body{
    background-image: url(foto.jpg);
    background-size: 100vw 100vh; /*para que la imagen siempre tenga el 100% de la ventana*/
    background-attachment: fixed; /*para que la imagen quede fija en el scroll*/
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 10px;
}

.imagenNav{
    width: 80px;
}

.form_log{
    margin-top: 12px;
}

.scroll-tabla{
    overflow:scroll;
    height:550px;
    }

.contenedorTablaJugadores {
    margin: 0 auto;
    margin-top: 20px;
    width: 60%;
    font-family: sans-serif;
    font-size: 1.2em;
}

.contenedorTablaJugadoresScroll{
margin: 0 auto;

width: 60%;
font-family: sans-serif;
font-size: 1.2em;
}



h5{
    font-weight: bold;
    color: white;
}

td {
    text-align: left;
    vertical-align: top;
    padding: 0.3em;
    background: rgba(243, 240, 240, 0.7);;
}

th {
    background: rgba(192, 186, 186, 0.3);
    color: rgb(255, 255, 255);
    font-size: 1.3em;
}

.thDivision {
    background: rgba(192, 186, 186, 0.3);
    color: rgb(255, 255, 255);
    font-size: 0.9em;
    text-align-last: auto;
}

.contenedorTablaDivisiones {
    margin: 0 auto;
    margin-top: 20px;
    width: 85%;
    font-family: sans-serif;
    font-size: 1.2em;
}

caption {
    background: rgba(117, 114, 114, 0.5);
    color: rgb(255, 255, 255);
    caption-side: top;
    font-weight: bold;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.6em;
    margin-bottom: 5px;
    
}

.contenedorPerfil{
    display:flex;
	flex-flow:row wrap;
    margin-top: 40px;
    margin-left: 40px;
}

.datosJugador{
    margin-left: 40px;
    background-color: rgb(250, 247, 235, 0.4);
    padding: 10px;
    border-radius: 15px;
}

p{
    font-size: 70px;
    font-weight: 700;
}

img{
    width: 170px;
    border-radius: 15px;
}

.contenedorFrase {
    width: 90%;
    margin: auto;
    margin-top: 40px;
    
}

.contenedorFrase img{
    width: 120px;
}

.frase{
    font-size: 1.7em;
    font-family: Aharoni;
}

h1{
    font-weight: bolder;
    font-size: 3em;   
    font-family: Aharoni;
    
}

